/*color code*/

:root {
    --mainBackGround: #212227;
    --mainTxtColor: #FFFFFF;
    --menuBackGround: #7a7887;
    --menuBackGroundSection: #50B6FF;
    --codeBackGround: #00C7FF;
    --codeColor: #FF694B;
}


/* Container */

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* NavBar */

#navbar {
    width: 500px;
}


/* Main */

#main-doc {}


/* Introduction */


/* Difference between react js and react native */


/* Prerequisities */


/* Way of working */


/* Go further */


/* Reference */


/* Footer */