/*color code*/

:root {
    --mainBackGround: #212227;
    --mainTxtColor: #FFFFFF;
    --menuBackGround: #7a7887;
    --menuBackGroundSection: #50B6FF;
    --codeBackGround: #00C7FF;
    --codeColor: #FF694B;
}


/* general */


/* container */


/*header*/


/*nav menu*/


/* introduction */


/* difference between react js and react native */


/* Prerequisities */


/* way of working */


/* go further */


/* reference */


/* footer */